{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div id="inner_container" class="">
  <div id="reg_inner_div" >
    <h2>Please check your details</h2>
    <br/>
    <form method='post' action=''>{% csrf_token %}
      {% for field in form %}
      <label class="left label_for_register" >{{field.label}}</label><div class="form_field_errors left">{{field.errors}}</div>
      <div class="left"> {{field}}</div>
      {% endfor %}
      <label class="left">&nbsp;</label>
      {% if restart %}
      	{% if form.non_field_errors %}
      	<div class="form_non_field_errors">{{form.non_field_errors}}</div>
      	{% endif %}
      <div class="left">
      	<input type="submit" name="restart" value=" Login with existing registered account " class="button" onclick="this.style.visibility='hidden';"/>
      </div>
      <br/>
      <span class="form_non_field_errors">or try again with another email id.</span>
      {% endif %}
      <div class="left"><input type="submit" name ="button" value=" Register " class="button"/></div>
    </form>
  </div>
</div>  	
{% endblock %}