<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css"/>
		<link rel="stylesheet" href="{{MEDIA_URL}}css/Garton-fontfacekit/stylesheet.css" type="text/css"/>
		<link rel="stylesheet" href="{{MEDIA_URL}}css/button.css" type="text/css"/>
		<script src="{{MEDIA_URL}}js/jquery-1.6.2.js"></script>
		{% block html_head %}{% endblock %} 
		<title>seekinme</title>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7481194-5']);
			_gaq.push(['_trackPageview']); (function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>
	{% block body %}
		{% block body_head %}
		<div id = "top_container">
			<div>
				<a id="top_logo" href="/" rel="nofollow" style="text-decoration:none">
					seekinme
				</a>
			</div>
		
		<div id="top_user_panel">
				{% if user.is_authenticated %}
				{% if user.last_name %}
				<a href="/accounts/update" rel="nofollow" style="text-decoration:none">
				{% with user.first_name|capfirst|add:" "|add:user.last_name|capfirst as fullName %}
					{{ fullName|default:user.username }}
				{% endwith %}
				</a>
				&nbsp;
				{% endif %}
 
				|&nbsp;
				<a href="/accounts/logout/" rel="nofollow" style="text-decoration:none">Sign Out</a>
				{% else %} <!-- <a href="/accounts/login/" rel="nofollow">Sign In</a> -->
				{% endif %}
		</div>
		</div>
		{% endblock %}
		</br>
		<hr/>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	{% endblock %}
	</body>
	<hr />
	<footer></footer>
</html>
