<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css"/>
		<link rel="stylesheet" href="{{MEDIA_URL}}css/Garton-fontfacekit/stylesheet.css" type="text/css"/>
		<script src="{{MEDIA_URL}}js/jquery-1.6.1.min.js"></script>
		{% block header %}{% endblock %} 
		<title>seekinme</title>
	</head>
	<body>
		<div id = "outer_container">
			<div id="top_logo" onclick="window.location.href='/'">
				seekinme
			</div>
			<div id = "top_content">
				{% block top_header %}{% endblock %}
			</div>
			<div id="top_user_panel">
				{% if user.fir_name or user.username %}
				{{ user.first_name|default:user.username }}
				&nbsp;|&nbsp;
				{% endif %}
				{% if user.is_authenticated %} <a href="/accounts/logout/" rel="nofollow">Sign Out</a>
				{% else %} <!-- <a href="/accounts/login/" rel="nofollow">Sign In</a> -->
				{% endif %}
			</div>
		</div>
		<hr />
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
	<hr />
	<footer></footer>
</html>
