/*base.html*/
* {padding: 0; margin: 2px;} 

h2 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 25pt;
	line-height: 0.8
}

h3 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 20pt;
	line-height: 0.8
}

h4 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 15pt;
	line-height: 0.8
}

h5 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 10pt;
	line-height: 0.8
}
#outer_container {
	min-height: 45px;
}
#top_logo {
	font: 40pt 'GartonMedium';
	color: #2C7F54;
	text-align: left;
	float: left;
	margin-right: 2%;
	margin-top: 4px;
	min-height: 45px;
}
#top_content {
	float: left;
	text-align: center;
	font-size: 10pt;
	margin-right: 5%;
	min-height: 45px;
}
#top_user_panel {
	float: right;
	text-align: right;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 10pt;
	min-height: 45px;
}
#content {

}

/*index.html*/
#seekinme_desc_title {
	font: 35pt Helvetica Neue;
	line-height: 0.8
}
.script_font {
	font-family: 'ScriptinaProRegular', "Brush Script MT", cursive;
	font-size: 50pt;
	font-weight: bolder;
}
.italics {
	font-style: italic;
}

.pad_10 {
	padding: 10pt;
}

.pad_20 {
	padding: 20pt;
}

.pad_40 {
	padding: 40pt;
}

#seekinme_desc_body {
	font: 20pt Helvetica Neue;
	color: #886744;
	margin-top: 20px;
	text-align: justify;
}
#inner_container {
	min-height: 400px;
	margin-top: 100px;
	margin-left: 50px;
}
#inner_container_left {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}
#inner_container_right {
/*	width: 45%;*/
	float: left;
	margin-left: 5%;
}
a.auth_source_facebook, a.auth_source_twitter {
	color: #32A0EB;
	background-repeat: no-repeat;
	text-decoration: none;
	background: transparent url('../images/facebooktwitter_sprite.png') no-repeat;
}
a.auth_source_facebook {
	background-position: 0 0;
	width: 118px;
	height: 34px;
	display: inline-block;
	margin-right: 9px;
	zoom: 1;
}
a.auth_source_facebook:hover {
	background-position: 0 -34px;
}
a.auth_source_twitter {
	background-position: -118px 0;
	width: 118px;
	height: 34px;
	display: inline-block;
	zoom: 1;
}
a.auth_source_twitter:hover {
	background-position: -118px -34px;
}
#trial_handle {
	font: 20pt Helvetica Neue;
	background: none;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right: hidden;
	border-left: hidden;
	border-top: hidden;
	outline: 0;
	color: #ccc;
	text-align: center;
}
#trial_form {
	height: 5%;
}
#trial_submit {
	padding-left: 50%;
	font: 12pt garamond;
	color: #2C7F54;
}

/*home.html*/
.associate_auth_source_facebook_img, .associate_auth_source_twitter_img {
	color: #32A0EB;
	background-repeat: no-repeat;
	text-decoration: none;
	background: transparent url('../images/facebooktwitter_logo.png') no-repeat;
}
.associate_auth_source_facebook_img {
	background-position: 0 0;
	width: 88px;
	height: 19px;
	display: inline-block;
	margin-right: 9px;
	zoom: 1;
}
.associate_auth_source_twitter_img {
	background-position: -88px 0;
	width: 88px;
	height: 19px;
	display: inline-block;
	zoom: 1;
}

/*register.html*/
#reg_inner_div {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #eeeeee;
  -webkit-box-shadow: 0px 0px 20px #aaaaaa;
  box-shadow: 0px 0px 5px #eeeeee;
  width: 50%;
/*  height: 200px;*/
  padding: 50px;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 30%;
}

input[type = text] {
    font: 15pt helvetica neue;
    background: white;
	border: 1px solid #CCC;
	display: inline-block;
/*    outline: 0;*/
}

.label_for_register {
	display: inline-block;
	color: #333;
/*	font-size: 13px;*/
	font: 15pt helvetica neue;
	font-weight: bold;
	text-align: left;
}

.form_field_errors, .form_non_field_errors {
	padding: 10px;
	display: inline-block;
	font: 12pt helvetica neue;
}

.form_field_errors {
	color: #880000;
}

/*update.html*/
.label_for_delete {
	display: inline-block;
	color: #880000;
/*	font-size: 13px;*/
	font: 9pt helvetica neue;
	font-weight: bold;
	text-align: left;
}

.table{
	
}
